html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
a{
	text-decoration: none
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root {
	--prinary: #33B3A6;
	--white: #ffffff; 
	--pink: #FF6666;
	--text-gray:#436b9b;
	--blue:#5A98D0;
	--black:#3E3E3E;
	--text-font:16px;
	--text-font-price:50px;
	--hoverbtn:#414042;
  }
  @media (max-width: 576px) {
}
@media (max-width: 768px) {
}
@media (max-width: 992px) { 
	:root {
		--text-font-price:40px;
	  }
}
@media (max-width: 1200px) { 
}
@media (max-width: 1400px) { 
}
body{
    font-family: 'Mulish', sans-serif;
}
p{
	font-size: var(--text-font);
	color: var(--text-gray);
	line-height: 26px;
}
.btnprinary{
	background: var(--prinary);
	color:var(--white); 
	font-size: var(--text-font);
	padding: 15px 50px;
	border: none;
	border-radius: 15px;
}
.btnprinary:hover{
	background:var(--hoverbtn);
}
.mb150{
	margin-bottom: 150px;
}
/* HEADER */

/* Main */
	/* Hot-product */
	.hot-product-price{
		color: var(--prinary);
		
	font-size: 25px;
	font-weight: 700;
	}
	.hot-product img{
		width: 100%;
		height: 300px;
		object-fit: cover;
		padding: 20px;
	}
	.hot-product-description{
		border-bottom: 1px solid var(--text-gray);
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		overflow: hidden;
		height: 125px;
		text-overflow: ellipsis;
	}

	.hot-product-title{
		font-size: 20px;
		color: #818181;
		font-weight: 700;
		height: 55px;
		line-height: 25px;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	}
	/* Home */
	.home-slider{
		background: linear-gradient(0deg, #33b3a65c 8.84%, rgb(152 195 232 / 0%) 31.12%);
	}
	.home-slider h1{
			font-weight: 700;
			font-size: 40px;
			color: #666666;
		}	
	.home-slider .home-slider-img img{
		width: 100%;
	}
	.home-bl-body{
		width:70%;
		margin: 0 auto;
	}
	.home-bl-header {
		margin-bottom: 150px;
	}
	.home-bl-header p{
		font-style: italic;
		font-weight: 200;
		font-size: 36px;
		line-height: 46px;
	}
	.home-bl-header img{
		width: 50%;
	}
	.home-box-body-product{
		margin-top: 50px;
	}
	.home-box-body-product img{
		margin: 20px 0 ;
	}
	.home-box-body-product h3{
		font-weight: 700;
		font-size: 25px;
		margin: 20px 0 ;
	}
	.home-box-body-product p{
		margin: 20px 0 ;
	}
	.home-box{
		box-shadow: 5px 20px 50px rgb(16 112 177 / 20%);
		padding: 60px;
		border: none;
		border-radius: 15px;
		margin-bottom: 100px;
	}
	.home-box .card-img-top{
		width:50%;
		margin: 0 auto;
	}
	.home-box-body h2{
		font-weight: 1000;
		font-size: 30px;
		color: var(--prinary);
		display: block;
	}
	.home-box-body-text{
		padding: 20px 0;
	}
	.home-box a{
		color: var(--blue);
		font-style: italic;
		font-weight: 500;
		font-size: 14px;
	} 
	.featurette .featurette-heading{
		margin-bottom: 20px;
	}
	.featurette .featurette-heading a{
		font-style: normal;
		font-weight: 1000;
		font-size: 30px;
		line-height: 26px;
		letter-spacing: 0.05em;
		color: #818181;
		border-bottom: var(--prinary) 5px solid;
	}
	.featurette .featurette-news h3{
		font-weight: 1000;
font-size: 16px;
line-height: 26px;}
	.featurette-news{
		padding: 15px 0;
	}
	.featurette-img img{
		width: 100%;
	}
	/* construction */
	.section-ct-body{
		margin: 50px 0;
	}
	.section-ct-body h1{
		font-size: 32px;
		font-weight: 800;
	}
	.card-ct{
		border: none;
	}
	.card-ct .card-img-top{
		border-radius: 5px;
	}
	
	.card-ct-title{
		font-size: 26px;
		padding: 5px 0;
		font-weight: 700;
		color: #818181;
		display: -webkit-box;
		height: 60px;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.card-ct-text{
		padding: 5px 0;
		height: 100px;
	}

	.card-ct-text p{
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.card-ct .card-ct-footer{
		padding: 0.5rem 1rem;
		border-top: 5px solid var(--prinary);
	}
	.card-ct .card-ct-footer .card-ct-footer-text {
		color: var(--blue);
	}
	.card-ct .card-ct-footer .card-ct-footer-text:hover {
		color: #0d6efd;
		font-weight: 600;
		}
		.section-contact{
			line-height: 30px;
			border: 1px solid red;
			padding: 20px;
			font-size: 20px;
			color: #2E2E2E;
			border-radius: 5px;
		}
		.section-contact h2{
			font: 26px;
			font-weight: 800;
		}
		.section-contact-phone{
			font-weight: 800;
			
			font: 26px;
			color: var(--pink);
		}
		.section-contact-info{
			color: var(--text-gray);
			font-size: 18px;
			font-weight: 300;
		}
		.detail-ct-title{
			font-weight: 1000;
			font-size: 32px;
			line-height: 46px;
			color: #3E3E3E;
		}
		.detail-ct-dt b{
			font-weight: 700;
			opacity: 0.8;
		}
		.detail-ct-description b{
			font-weight: 700;
			opacity: 0.8;
		}
		.detail-ct-dt{
			font-size: 20px;
			line-height: 30px;
			color: #2E2E2E;
			opacity: 0.6;
		}
		.detail-ct-description{
			font-size: 26px;
			line-height: 36px;
			color: #2E2E2E;
			opacity: 0.6;
		}
		.detail-ct-img img{
			width: 100%;
			border-radius: 12px;
		}
	/* end construction */
	/* Product */

	.product-box img{
		height: 250px;
		width: 100%;
		object-fit: contain;
	}
	.product-box-title{
		font-weight: 1000;
		font-size: 26px;
		line-height: 38px;
	}
	.product-box-title a{
		
		color: #3E3E3E;
	}
	.product-box-title a:hover{
		
		color: var(--text-gray);
	}
	.product-box-price{
		width: 90%;
		margin: 0 auto;
		font-weight: 1000;
		font-size: var(--text-font-price);
		line-height: 50px;
		color: var(--prinary);
	}
	.product-box-text{
		
		font-weight: 400;
		opacity: 0.6;
font-size: 16px;
color: #2E2E2E;
line-height: 22px;}
.product-box-img img{
	transition: transform 1s;
} 
.product-box-img img:hover{
	transform: scale(1.1);
} 
	/* end product */
/* FOOTER */

.footer {
	width: 93%;
	background-color: var(--prinary);
	border-radius: 0 100px 0 0;
	padding: 110px 110px 36px 110px;
}
.footer p{
	margin-top: 1rem;
	line-height: 26px;
	font-size: var(--text-font);
	font-weight: 400;
	color: #fff;
}


.footer span {
	display: inline-block;
	font-weight: 200;
	font-style: italic;
	margin-right: 1.25rem;
}

.footer h4 {
	font-size: 20px;
	font-style: italic;
	font-weight: 200;
	color: rgba(255, 255, 255, 0.683);
	letter-spacing: 0.05em;
}

.footer li {
	margin-bottom: 1.25rem;
}

.footer a {
	text-decoration: none;
	color: #fff;
	font-size: var(--text-font);

}
.footer a:hover {
	color: var(--black);
}

.footer h2 {
	font-size: var(--text-font);
	font-weight: 400;
	color: #fff;
	letter-spacing: 0.05em;
	opacity: 0.4;
}

.footer .footer-center {
	margin-left: 8rem;
}
.d-pagination{
    align-items: center;
    display: flex;
    margin: 30px 0;
    justify-content: center;
  }

@media (max-width: 576px) {
	.container-pd{
		padding: 0 25px;
	}
				.hot-product-title{
					font-size: 12px;
					
					height: 50px;
			}.hot-product-description{
				font-size: 10px;
			}
			.hot-product img{
				height: 100px;
				object-fit: cover;
				padding: 5px;
			}
			.hot-product-price{
				font-size: 12px;
			}
 }


@media (max-width: 768px) {
	.section-contact-box{
		margin:10px 0!important; 
	 }
	 .hot-product-price{
		font-size: 12px;
	}
 }


@media (max-width: 992px) { 
	.section-contact-box{
		margin:10px 0!important; 
	 }
	 .hot-product-title{
		font-size: 12px;
		
		height: 50px;
		}.hot-product-description{
			font-size: 10px;
		}
		.hot-product img{
			height: 200px;
			object-fit: cover;
			padding: 5px;
		}
		.hot-product-price{
			font-size: 20px;
		}
}

@media (max-width: 1200px) { 
	
}

@media (max-width: 1400px) { 
	
 }
